* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: black;
	font-family: monospace;
	height: 100vh;
}
.card-container {
	background-image: url(./assets/lion.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.img {
	object-fit: cover;
}
